/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.gray header {
  background-color: #95a5a6;
  color: white;
}
.gray header .headButton {
  background-color: #95a5a6;
  color: white;
}
.gray header .headButton:hover {
  background-color: rgb(121.2769230769, 141.4615384615, 142.7230769231);
}
.gray header .allOptions {
  background-color: rgb(240.4861538462, 242.6769230769, 242.8138461538);
  color: #95a5a6;
}
.gray main {
  background-color: rgb(240.4861538462, 242.6769230769, 242.8138461538);
  color: #95a5a6;
}
.gray main .imageDiv {
  background-image: URL("../img/gray.jpg");
  color: white;
}
.gray footer {
  background-color: #95a5a6;
  color: white;
}

.blue header {
  background-color: #1A73E8;
  color: white;
}
.blue header .headButton {
  background-color: #1A73E8;
  color: white;
}
.blue header .headButton:hover {
  background-color: rgb(18.8928571429, 92, 188.1071428571);
}
.blue header .allOptions {
  background-color: rgb(178.9392857143, 208.5, 247.3607142857);
  color: #1A73E8;
}
.blue main {
  background-color: rgb(178.9392857143, 208.5, 247.3607142857);
  color: #1A73E8;
}
.blue main .imageDiv {
  background-image: URL("../img/blue.jpg");
  background-size: 100% 150%;
  color: white;
}
.blue footer {
  background-color: #1A73E8;
  color: white;
}

.red header {
  background-color: #E84B3D;
  color: white;
}
.red header .headButton {
  background-color: #E84B3D;
  color: white;
}
.red header .headButton:hover {
  background-color: rgb(216.3502304147, 41.2626728111, 25.6497695853);
}
.red header .allOptions {
  background-color: rgb(249.8382488479, 214.6036866359, 211.4617511521);
  color: #E84B3D;
}
.red main {
  background-color: rgb(249.8382488479, 214.6036866359, 211.4617511521);
  color: #E84B3D;
}
.red main .imageDiv {
  background-image: URL("../img/red.jpg");
  color: white;
}
.red footer {
  background-color: #E84B3D;
  color: white;
}

.yellow header {
  background-color: #DAA520;
  color: white;
}
.yellow header .headButton {
  background-color: #DAA520;
  color: white;
}
.yellow header .headButton:hover {
  background-color: rgb(173.528, 131.34, 25.472);
}
.yellow header .allOptions {
  background-color: rgb(243.2624, 223.822, 175.0376);
  color: rgb(129.056, 97.68, 18.944);
}
.yellow main {
  background-color: rgb(243.2624, 223.822, 175.0376);
  color: rgb(129.056, 97.68, 18.944);
}
.yellow main .imageDiv {
  background-image: URL("../img/yellow.jpg");
  color: white;
}
.yellow footer {
  background-color: #DAA520;
  color: white;
}

.green header {
  background-color: #34A853;
  color: white;
}
.green header .headButton {
  background-color: #34A853;
  color: white;
}
.green header .headButton:hover {
  background-color: rgb(39.9454545455, 129.0545454545, 63.7590909091);
}
.green header .allOptions {
  background-color: rgb(162.0654545455, 226.2345454545, 179.2140909091);
  color: #34A853;
}
.green main {
  background-color: rgb(162.0654545455, 226.2345454545, 179.2140909091);
  color: #34A853;
}
.green main .imageDiv {
  background-image: URL("../img/green.jpg");
  color: white;
}
.green footer {
  background-color: #34A853;
  color: white;
}

.orange header {
  background-color: #ffa600;
  color: white;
}
.orange header .headButton {
  background-color: #ffa600;
  color: white;
}
.orange header .headButton:hover {
  background-color: rgb(204, 132.8, 0);
}
.orange header .allOptions {
  background-color: rgb(255, 224.74, 168.3);
  color: rgb(153, 99.6, 0);
}
.orange main {
  background-color: rgb(255, 224.74, 168.3);
  color: rgb(153, 99.6, 0);
}
.orange main .imageDiv {
  background-image: URL("../img/orange.jpg");
  color: white;
}
.orange footer {
  background-color: #ffa600;
  color: white;
}

.purple header {
  background-color: #9900ff;
  color: white;
}
.purple header .headButton {
  background-color: #9900ff;
  color: white;
}
.purple header .headButton:hover {
  background-color: rgb(122.4, 0, 204);
}
.purple header .allOptions {
  background-color: rgb(220.32, 168.3, 255);
  color: #9900ff;
}
.purple main {
  background-color: rgb(220.32, 168.3, 255);
  color: #9900ff;
}
.purple main .imageDiv {
  background-image: URL("../img/purple.jpg");
  color: white;
}
.purple footer {
  background-color: #9900ff;
  color: white;
}

main {
  height: 100%;
  font-size: 18px;
}
main .imageDiv {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 15px;
  height: 400px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
}
main .imageDiv h2 {
  font-size: 32px;
}
main .text {
  padding: 20px 0;
  text-align: center;
}

.gray header {
  background-color: #95a5a6;
  color: white;
}
.gray header .headButton {
  background-color: #95a5a6;
  color: white;
}
.gray header .headButton:hover {
  background-color: rgb(121.2769230769, 141.4615384615, 142.7230769231);
}
.gray header .allOptions {
  background-color: rgb(240.4861538462, 242.6769230769, 242.8138461538);
  color: #95a5a6;
}
.gray main {
  background-color: rgb(240.4861538462, 242.6769230769, 242.8138461538);
  color: #95a5a6;
}
.gray main .imageDiv {
  background-image: URL("../img/gray.jpg");
  color: white;
}
.gray footer {
  background-color: #95a5a6;
  color: white;
}

.blue header {
  background-color: #1A73E8;
  color: white;
}
.blue header .headButton {
  background-color: #1A73E8;
  color: white;
}
.blue header .headButton:hover {
  background-color: rgb(18.8928571429, 92, 188.1071428571);
}
.blue header .allOptions {
  background-color: rgb(178.9392857143, 208.5, 247.3607142857);
  color: #1A73E8;
}
.blue main {
  background-color: rgb(178.9392857143, 208.5, 247.3607142857);
  color: #1A73E8;
}
.blue main .imageDiv {
  background-image: URL("../img/blue.jpg");
  background-size: 100% 150%;
  color: white;
}
.blue footer {
  background-color: #1A73E8;
  color: white;
}

.red header {
  background-color: #E84B3D;
  color: white;
}
.red header .headButton {
  background-color: #E84B3D;
  color: white;
}
.red header .headButton:hover {
  background-color: rgb(216.3502304147, 41.2626728111, 25.6497695853);
}
.red header .allOptions {
  background-color: rgb(249.8382488479, 214.6036866359, 211.4617511521);
  color: #E84B3D;
}
.red main {
  background-color: rgb(249.8382488479, 214.6036866359, 211.4617511521);
  color: #E84B3D;
}
.red main .imageDiv {
  background-image: URL("../img/red.jpg");
  color: white;
}
.red footer {
  background-color: #E84B3D;
  color: white;
}

.yellow header {
  background-color: #DAA520;
  color: white;
}
.yellow header .headButton {
  background-color: #DAA520;
  color: white;
}
.yellow header .headButton:hover {
  background-color: rgb(173.528, 131.34, 25.472);
}
.yellow header .allOptions {
  background-color: rgb(243.2624, 223.822, 175.0376);
  color: rgb(129.056, 97.68, 18.944);
}
.yellow main {
  background-color: rgb(243.2624, 223.822, 175.0376);
  color: rgb(129.056, 97.68, 18.944);
}
.yellow main .imageDiv {
  background-image: URL("../img/yellow.jpg");
  color: white;
}
.yellow footer {
  background-color: #DAA520;
  color: white;
}

.green header {
  background-color: #34A853;
  color: white;
}
.green header .headButton {
  background-color: #34A853;
  color: white;
}
.green header .headButton:hover {
  background-color: rgb(39.9454545455, 129.0545454545, 63.7590909091);
}
.green header .allOptions {
  background-color: rgb(162.0654545455, 226.2345454545, 179.2140909091);
  color: #34A853;
}
.green main {
  background-color: rgb(162.0654545455, 226.2345454545, 179.2140909091);
  color: #34A853;
}
.green main .imageDiv {
  background-image: URL("../img/green.jpg");
  color: white;
}
.green footer {
  background-color: #34A853;
  color: white;
}

.orange header {
  background-color: #ffa600;
  color: white;
}
.orange header .headButton {
  background-color: #ffa600;
  color: white;
}
.orange header .headButton:hover {
  background-color: rgb(204, 132.8, 0);
}
.orange header .allOptions {
  background-color: rgb(255, 224.74, 168.3);
  color: rgb(153, 99.6, 0);
}
.orange main {
  background-color: rgb(255, 224.74, 168.3);
  color: rgb(153, 99.6, 0);
}
.orange main .imageDiv {
  background-image: URL("../img/orange.jpg");
  color: white;
}
.orange footer {
  background-color: #ffa600;
  color: white;
}

.purple header {
  background-color: #9900ff;
  color: white;
}
.purple header .headButton {
  background-color: #9900ff;
  color: white;
}
.purple header .headButton:hover {
  background-color: rgb(122.4, 0, 204);
}
.purple header .allOptions {
  background-color: rgb(220.32, 168.3, 255);
  color: #9900ff;
}
.purple main {
  background-color: rgb(220.32, 168.3, 255);
  color: #9900ff;
}
.purple main .imageDiv {
  background-image: URL("../img/purple.jpg");
  color: white;
}
.purple footer {
  background-color: #9900ff;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  margin-bottom: 3px;
  align-items: center;
  padding: 0 15px;
}
header .headButton {
  border: 0;
  height: 50px;
  width: 100px;
}
header .right {
  display: flex;
  justify-content: end;
}
header .right .headButton {
  font-size: 16px;
}
header .logo .headButton {
  font-size: 28px;
}
header .selectTheme {
  transform: translateX(100px);
}
header .allOptions {
  font-size: 18px;
  min-width: 15vw;
  min-height: 30px;
  text-align: center;
}
header .option {
  font-size: 16px;
}

.card-container {
  display: flex;
  max-width: 100vw;
  justify-content: space-evenly;
}
.card-container .card {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*# sourceMappingURL=style.css.map */
