$baseTextColor: white;
$hoverTextColor: black;



$colors: (
    "gray":#95a5a6,
    "blue": #1A73E8,
    "red": #E84B3D,
    "yellow": #DAA520,
    "green": #34A853,
    "orange": #ffa600,
    "purple": #9900ff,
);


//pravljenje klasa za boju slova i boju pozadine iz mape boja
@each $key, $value in $colors {
    $color-darker: $value;
    $color-lighter: lighten($color-darker, 33);
    // $color-hover: complement($color-darker);
    $color-hover: darken($color-darker, 10);
    $secondTextColor: $color-darker;

    // $baseTextColor: $color-darker;
    @if($key =="yellow") {
        $secondTextColor: darken($color-darker, 20);
    }

    @else if($key =="orange") {
        $secondTextColor: darken($color-darker, 20);
    }



    // $secondTextColor: $color-darker;

    .#{$key} {
        header {
            background-color: $color-darker;
            color: $baseTextColor;

            .headButton {
                background-color: $color-darker;
                color: $baseTextColor;

                &:hover {
                    background-color: $color-hover;
                }

            }

            .allOptions {
                background-color: $color-lighter;
                color: $secondTextColor;
            }


        }

        main {
            background-color: $color-lighter;
            color: $secondTextColor;

            .imageDiv {
                background-image: URL("../img/#{$key}.jpg");

                @if($key =="blue") {
                    background-size: 100% 150%;
                }

                color: $baseTextColor;
            }
        }

        footer {
            background-color: $color-darker;
            color: $baseTextColor;
        }

    }
}