@import "reset";
@import "colors";
@import "mixin";
@import "main";
@import "header";
@import "card";
@import "footer";

@include base-theme();

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}